h1 {
	color:#185a9d;
	font-family: 
	'Abril Fatface', cursive;
	font-size:300%;
	line-height:100%;
	margin: 1%;
}

h2 {
	color:#5986F0;
	font-family: 'Quicksand', sans-serif;
	line-height:50%;
	font-size: 200%;
	margin:1.5%;
}

p {
	text-align:justify;
	font-family: 'Prata', serif;
	line-height:1.3em;
	font-size:130%;
	margin-left:1%;
	margin-right:1%;
	margin:1.5%;
}

body {
	background-color: #FEF0E6;
}

nav {
	font-size:125%;
	text-align: right;
	font-family: 'Rajdhani', sans-serif;
	color:#FEFEFE;
}

footer {
	text-align:center;
	border-style: solid;
	background: #ff9966;  
	background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  
	background: linear-gradient(to top, #ff5e62, #ff9966); 
	padding:0.6em;
	clear: both;
	color: #FEFEFE;
}


eader {
	 background: #43cea2; 
  	background: -webkit-linear-gradient(to bottom, #43cea2, #185a9d); 
  	background: linear-gradient(to bottom, #43cea2, #185a9d);
  	padding:1.3em;
 	 clear:both;
  	color: #FEFEFE
}

eader {
	background: #FDC830;  
	background: -webkit-linear-gradient(to top, #F37335, #FDC830); 
	background: linear-gradient(to top, #F37335, #FDC830); 
	padding:1.3em;
	clear:both;
	color:#FEFEFE;
}

.header {
	background: #ff9966;  
	background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  
	background: linear-gradient(to top, #ff5e62, #ff9966); 
	padding:1.3em;
	clear: both;
	color: #FEFEFE;
}


div {
	display:inline-block;
	text-align:left;
	float: left;
	font-family: 'Donegal One', serif;
	text-transform: uppercase;
	font-size: 140%;

}

figure {
	display:block;
	text-align:center;
	padding:0;
	margin:0;
}

img {
	width:100%;
	height:75%;
}

.nav {
	opacity: 0.6;
	border-bottom: 3px solid transparent;
	transition: 0.3s
}

.nav:hover {
	opacity:1;
	font-size:135%;
	color:#FEFEFE;
}

.nav:active {
	border-bottom: 0.15em solid #FEFEFE
}

.nav:link {
	color:#FEFEFE;
	text-decoration: none;
}

.nav:visited {
	color:#FEFEFE;
}

.github {
	opacity:0.6;
	display: inline-block;
	margin:1%;
	border:0.2em solid #FEFEFE;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	padding:0;
	background:#FEFEFE;
}

.github:hover {
	font-size:135%;
	opacity:1;
}

ul {
	font-family: 'Prata', serif;
	font-size:120%;
	text-align: justify;
	line-height:110%;
}

.nav:focus {
	font-size:135%;
	opacity: 1;
	border-bottom: 0.2em solid #FEFEFE
}

.github:focus {
	opacity: 1;
	font-size:135%;
}

#home {
	opacity:1;
	border-bottom:solid 0.15em #FEFEFE;
}

#secondpage {
	opacity:1;
	border-bottom:solid 0.15em #FEFEFE;
}

#thirdpage {
	opacity:1;
	border-bottom:solid 0.15em #FEFEFE;
}

#fourthpage {
	opacity:1;
	border-bottom:solid 0.15em #FEFEFE;
}

#fifthpage {
	opacity:1;
	border-bottom:solid 0.15em #FEFEFE;
}

.third {
	width:30%;
	margin-right:2%;
	display:inline-block;
	float:left;
	text-align: center;
}

.credentials {
	display:block;
	text-align: center;
	padding:1em;
	margin:2em;
	background-color: #FECFCF;
	-webkit-border-radius:5em;
	-moz-border-radius:5em;
	-o-border-radius:5em;
	background: #ee9ca7; 
	background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7); 
	background: linear-gradient(to bottom, #ffdde1, #ee9ca7); 

}


.container {
	display:flex;
	flex-direction:row;
	justify-content: flex-end;
	align-items: stretch;
}

@media all and (max-width: 800px) {
  .container {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .container {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  	}
  }